@model List<MenuModel>
@{
    ViewData["Title"] = "Anasayfa";
    List<string> processedCategories = new List<string>();
}
<style>
    /* Accordion */
    .accordion-item {
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 8px;
    }

    .accordion-button {
        background-color: #f8f9fa;
        color: #495057;
        border: none;
        border-bottom: 1px solid #ddd;
        padding: 10px 15px;
        text-align: left;
        cursor: pointer;
    }

        .accordion-button.collapsed {
            background-color: #e9ecef;
        }

    .accordion-body {
        padding: 15px;
    }

    /* Table */
    .table {
        width: 100%;
        margin-bottom: 0;
        background-color: #fff;
        border-collapse: collapse;
        border-radius: 8px;
    }

        .table th,
        .table td {
            padding: 10px;
            text-align: left;
        }

    .product-img {
        max-width: 100px;
        height: auto;
        border-radius: 4px;
    }

</style>
<h2>Menü</h2>
<div class="accordion" id="accordionExample">
    @foreach (var menu in Model)
    {
        if (!processedCategories.Contains(menu.CategoryName))
        {
            processedCategories.Add(menu.CategoryName);
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@menu.CategoryName.Replace(" ", "-")" aria-expanded="false" aria-controls="collapse-@menu.CategoryName.Replace(" ", "-")">
                        @menu.CategoryName
                    </button>
                </h2>
                <div id="collapse-@menu.CategoryName.Replace(" ", "-")" class="accordion-collapse collapse" aria-labelledby="heading-@menu.CategoryName.Replace(" ", "-")" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Resim</th>
                                        <th scope="col">Yemek</th>
                                        <th scope="col">Fiyat</th>
                                        <th scope="col">Kategori</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Where(m => m.CategoryName == menu.CategoryName))
                                    {
                                        <tr>
                                            <th scope="row">@item.Id</th>
                                            <td>
                                                <img src="/uploads/@item.ImgUrl" alt="@item.Name" class="product-img">
                                            </td>
                                            <td>@item.Name</td>
                                            <td>@item.Price</td>
                                            <td>@item.CategoryName</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

